/*Global Article Styles*/

body {
     margin: 0;
    }

div {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #a50808;
    }
    
table {
    min-height: 80vh;
    }
    
h1 {
    text-align: center;
    color: #A60303;
    }